<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
    <div>
        <div class="module-border-wrap">
            <div class="module">
                <div class="left-div">
                    <img src="../img/pc.png" alt="PC image" class="img-cart"/>
                </div>
                <div class="center-div">
                    <span class="description">Name: </span> 
                    <br/>
                    <span class="description">Quantity: </span> <input type="number"/>
                </div>
                <div class="right-div">
                    <span class="description">Price: </span> 
                    <br/>
                    <button class="btn-remove">Remove</button>
                </div>
                
            </div>
        </div>
    </div>
    <div>
        <div class="module-border-wrap">
            <div class="module">
                <div class="left-div">
                    <img src="../img/pc.png" alt="PC image" class="img-cart"/>
                </div>
                <div class="center-div">
                    <span class="description">Name: </span> 
                    <br/>
                    <span class="description">Quantity: </span> <input type="number"/>
                </div>
                <div class="right-div">
                    <span class="description">Price: </span> 
                    <br/>
                    <button class="btn-remove">Remove</button>
                </div>
                
            </div>
        </div>
    </div>
    <div>
        <div class="module-border-wrap">
            <div class="module">
                <div class="left-div">
                    <img src="../img/pc.png" alt="PC image" class="img-cart"/>
                </div>
                <div class="center-div">
                    <span class="description">Name: </span> 
                    <br/>
                    <span class="description">Quantity: </span> <input type="number"/>
                </div>
                <div class="right-div">
                    <span class="description">Price: </span> 
                    <br/>
                    <button class="btn-remove">Remove</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container">
        <form>
            <div class="row">
                <div class="col-sm-8">
                    <div class="mb-3">
                        <label for="couponCode" class="form-label">Coupon code</label>
                        <input type="text" class="form-control" id="couponCode" placeholder="Enter coupon code">
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    <div class="mb-3">
                        <label for="totalPrice" class="form-label">Total Price</label>
                        <input type="text" class="form-control" placeholder="" id="totalPrice" disabled/>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-success">Purchase</button>
                </div>
            
            </div>
        </form>
        
        
    </Container>
    
</body>
</html>