<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="admin-coupons">
            <h1>Coupon Manager</h1>
            <section class="coupons-actions">
                <form action="">
                    <input type="text" placeholder="Search...">
                </form>
                <button>New</button>
            </section>
            <section class="coupons-container">
                <table border="1" class="coupons-table">
                    <thead class="coupons-table-head">
                        <tr>
                            <th>Coupon Code</th>
                            <th>Discount Percentage</th>
                            <th>Category</th>
                            <th>Expiry Date</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="coupons-table-body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button>Edit</button></td>
                            <td><button>Delete</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button>Edit</button></td>
                            <td><button>Delete</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button>Edit</button></td>
                            <td><button>Delete</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button>Edit</button></td>
                            <td><button>Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </body>
</html>