<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bootstrap.css">

        <!-- Google icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="../css/view-css/coupons.css">
    </head>
    <body>
        <div class="admin-coupons">
            
            <header>
                <h1>Coupon Manager</h1>
                <section class="coupon-actions">
                    <form action="" class="coupon-form">
                        <input type="text" name="category" placeholder="Sort by category" list="category-list">
                        <datalist id="category-list">
                            <option value="Electronics"></option>
                            <option value="Clothing"></option>
                            <option value="Kitchen"></option>
                        </datalist>
                        <input type="text" name="search-bar" class="search-input" placeholder="Search product..." />
                        <button type="submit" class="search-btn">
                            <span class="material-icons">
                                search
                            </span>
                        </button>
                    
                    </form>
                    <a href="#"><span class="material-icons md-36 add-btn">add</span></a>
                </section>
            </header>
            <section class="coupons-container">
                <table class="coupons-table table table-striped col-12">
                    <thead class="coupons-table-head">
                        <tr>
                            <th>Coupon Code</th>
                            <th>Discount Percentage</th>
                            <th>Category</th>
                            <th>Expiry Date</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="coupons-table-body">
                        <tr>
                            <td>blackfriday2022</td>
                            <td>40%</td>
                            <td>Electronics</td>
                            <td>10-29-2022</td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                        <tr>
                            <td>christmas2021</td>
                            <td>20%</td>
                            <td>Clothing</td>
                            <td>12-31-2021</td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                        <tr>
                            <td>loyal4ever</td>
                            <td>15%</td>
                            <td></td>
                            <td></td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                        <tr>
                            <td>blackfriday2022</td>
                            <td>50%</td>
                            <td>Kitchen</td>
                            <td>10-29-2022</td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                        <tr>
                            <td>blackfriday2022</td>
                            <td>45%</td>
                            <td>Clothing</td>
                            <td>10-29-2022</td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                        <tr>
                            <td>thanksgiving2021</td>
                            <td>25%</td>
                            <td>Electronics</td>
                            <td>11-24-2021</td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                        <tr>
                            <td>itsrainingclothes</td>
                            <td>20%</td>
                            <td>Clothing</td>
                            <td></td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                        <tr>
                            <td>happynewyear2022</td>
                            <td>15%</td>
                            <td>Kitchen</td>
                            <td>02-01-2022</td>
                            <td><span id="p-edit" class="material-icons p-action">edit</span></td>
                            <td><span id="p-delete" class="material-icons p-action">delete</span></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="pagination-wrapper">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link"href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
        <footer>
            <p>webuy &copy; 2022</p>
        </footer>
    </body>
</html>